</nav><article>
    <div class="contents">
        <ul>
            <li>contents1</li>
            <li>contents2</li>
        </ul>
    </div>
    <div class="topic">
         <ul>
            <li>2020.1.18 Day10授業にて</li>
            <li>グループワーク</li>
            <li>Githubむずい、pullとかmergeとか初めて</li>
            <li>毎回origin masterにpushしてました、、、</li>
        </ul>
    </div>
</article>